*.iml
.gradle/
.jdk/
.kotlin/
/local.properties
/.idea/
.DS_Store
/build/
app/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
google-services.json
*.keystore
!debug.keystore
keystore.properties
release/